#gigs table, caption {
    text-align: left;
    width: 100%;
    margin: 5em;
}

#gigs caption {
    margin-bottom: .5em
}

#gigs td, #gigs th {
    border-bottom: 1px solid #ffffff90
}

#gigs td {
    font-weight: 300;
}

#gigs td.mobile-date {
    display: none;
}