#contact-payoff {
    filter: drop-shadow(4000px 0px 0 white);
    transform: translateX(-4000px);
    width: 40vw;
}

#contact {
    flex-direction: column;
    gap: 5vh;
}

td {
    text-align: right;
}